$body-bg: #fafafa;
$secondary: #def2f1;
$font-family-sans-serif: 'Mulish', sans-serif;
$font-size-base: 1rem;
$font-weight-normal: 300;
$headings-font-family: 'Work Sans', sans-serif;
$headings-font-weight: 300;